@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.genre-button {
  @apply rounded-md bg-none px-2 py-1 text-sm
  text-black;
}

.nav {
  @apply flex w-full items-start text-gray-800 p-6 border-b-2 border-gray-400;
}

.dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 0.25rem;
}

.genre-nav-item {
  @apply relative flex max-h-fit  items-center justify-start w-32 px-1 pt-4 mx-0;
}
.genre-nav {
  @apply absolute px-6 right-0 top-0 flex flex-col-reverse rotate-90 items-start justify-start;
}

.nav-item {
  @apply relative flex max-h-fit  items-center justify-start px-2 mx-0;
}

.ratio {
  font-family: ratio, sans-serif;
  font-style: normal;
  font-weight: 200;
}

.chevron {
  @apply bg-gray-700 z-10 bg-opacity-25 rounded-full hover:cursor-pointer hover:bg-opacity-15 duration-100 transition-all;
}

.button-primary {
  @apply bg-custom-purple hover:bg-purple-500 text-white font-bold py-2 px-4 rounded focus:outline-none  focus:shadow-md;
}

.button-secondary {
  @apply bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded focus:outline-none  focus:shadow-md;
}

.button-file {
  @apply bg-slate-500 hover:bg-slate-600 text-white font-bold text-xs py-1 px-2 rounded focus:outline-none  focus:shadow-md hover:cursor-pointer;
}
